@import 'base';


.link{

  @include unstyled-link;
  color: $linkcolor;
  &:hover{ color:$linkcolor + 100;}
}

.header-explore-link, .header-rentals-link, .header-account-link {
  @extend .link;
}

body{
  background-color: $bgcolor;
}

.container{
  width:50%;
  margin: 0 auto;
}


@include breakpoint(max-width 2000px){
  .container{
    width:100%;
  }
  @include add-grid(10);
}

.header{

  width:auto;
  height:$header-height1;
  @include background-image(linear-gradient($headercolor, $bgcolor));
}
.logo{
  @include grid-span(1,2);
  margin-top:$header-logo-margin;
  min-width:$logo-max-width;
  min-height:$logo-max-height;
  max-width:$logo-max-width;
  max-height:$logo-max-height;

}
.header-explore-link{
  margin-top:$header-link-margin;
  @include grid-span(1,4);
}
.header-rentals-link{
  margin-top:$header-link-margin;
  @include grid-span(1,5);
}
.header-account-link{
  margin-top:$header-link-margin;
  @include grid-span(1,10);
}

.search-bar{
  @include grid-span(5,2);
  @include border-radius(5px);
  border-style: solid;
  border-width: 2px;
  border-color:$bordercolor;
  background:$bgcolor;
  padding: 9px;
  @include opacity(0.5);
  color:$fontcolor;
}
.recommendation-header{
  @include grid-span(2,2);
  color:white;
}
.suggestions-container{
  background-color: #19aebd;
  @include grid-span(6,2);
  height:800px;
  @include add-grid(4);
}

.one-column-game{
  background-color:red;
  height: 200px;
  @include grid-span(1,1);
  @include add-gutter(1/4);
  overflow: hidden;

  position: relative;
  img{
    width:300px;
    height:auto;
    position:absolute;
    left: -10px;

  }

}
