//COLORS
$bgcolor: #121917;
$headercolor: #2d2f2f;
$linkcolor: #19aebd;
$bordercolor: $linkcolor;
$fontcolor: $linkcolor;
//DISTANCES
$header-height: percentage(82/869);
$header-height1: 120px;
$header-height2: 50px;

$logo-max-width: 215px;
$logo-max-height: 55px;
